@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Anton&family=Caprasimo&family=Dancing+Script&family=Josefin+Sans:ital,wght@0,400;1,300;1,400&family=Josefin+Slab:wght@200&family=Kalam:wght@300&family=Montserrat:ital,wght@1,500&family=Oxygen:wght@300&family=Roboto+Slab:wght@700&family=Roboto:wght@100&family=Rubik:wght@400;500&family=Sacramento&family=Sedgwick+Ave+Display&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav
{
    width: 100%;
    height: 85px;
    position: fixed;
    background-color: blue;
    z-index: 1;
}

.nav img
{
    width: 100px;
    height: 80px;
}
.cont-body
{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.cont img
{
    width: 100%;
    height: 200%;
    position: sticky;
}
.cont
{
    box-sizing: border-box;
}
#body-txt
{
    margin-left: 20px;
    margin-bottom: -400px;
}

.txt
{
   
    margin-left: 300px;
    position: relative;
    margin-top: -250px;
    margin-bottom: 500px;
    font-size: 10px;
}
.txt h4
{
    font-family: 'Rubik';
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 3px rgb(13, 12, 12);
    font-size: 40px;
    font-weight: 800;
    
}

.ad-process
{
    display: flex;
    flex-direction: column;
    margin-top: -400px;
    padding: 60px;
    box-sizing: border-box;
    text-align: center;
}

.reg-txt
{
    font-family:"Montserrat";
}
.prc-img img{
    width: 80%;
}

.split-text
{
    display:flex ;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 30px;
}
.n1
{
    width: 50%;
    box-sizing: border-box;
    border-radius: 3px;
    margin: 5px;

}
.reg
{
  color: aliceblue;
  align-items: baseline;
  border-radius: 4px;
  object-fit: fill;
  font-size: 20px;
}
.reg:hover
{
    backdrop-filter: light;
}

#std-id
{
    margin-top: 10px;
}
.mail-box
{
    box-shadow: 2px 3px 2px rgb(39, 37, 37);
}
li
{
    list-style: none;
}

.program-header
{
    font-family:"Montserrat";
    font-size: 35px;
}

#std-id
{
  cursor: pointer;
}
#sv
{  position: relative;
    align-items: center;
    border-radius: 2px;
    width: 50px;
    background-color: chartreuse;
    margin-left: 20px;
}
#sv:hover
{
  opacity: 0.3;
  transform: scale(2,1);
}
.foot
{
    display: flex;
    margin: 20px;
}
.card
{
    align-items: center;
}

.head-div
{
    background-color: blue;
    width: 100%;
    height: 50px;
}

.course-section
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-group
{
    width: 60%;
    margin: 2px;
   
}
.btn-info
{
    background-color: rgb(132, 255, 165);
    text-align: left;
}

.recruiter
{  margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sponsors
{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
    max-width: auto;
    align-items: center;
    grid-auto-flow: column;
}

.spon-div
{
    box-shadow: 2px 2px 2px solid rgb(26, 24, 24);
    width: 150px;
    height: 80px;
    border: 1px solid rgb(6, 6, 6);
    text-align: center;
    box-sizing: border-box;
}

.spon-div:hover
{
    box-shadow: 2px 2px solid rgb(123, 122, 122);
}

.spon-div img
{  margin-top: 10px;
    width: 80px;
    height: 50px;
}

.foot
{
    width: 100%;
    height: 100%;
    background-color: rgb(103, 225, 255);
    display: flex;
    text-align: center;
    align-items: center;
}

.about
{
   width: 60%;
   align-items: center;
   text-align: center;
   padding: 20px;
}

.scio
{
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.scio ul
{
    display: flex;
}
.scio li
{
    margin-right: 5px;
}